<!DOCTYPE html>
<html>
<head>
  <title>My Hobby Page</title>
  <!-- Link to external CSS -->
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <div class="container">
    <h1><%= hobbyTitle %></h1>
    <p><%= hobbyDescription %></p>
    <img src="/images/hobby.png" alt="My Hobby">
    <p>
    Photography is a popular hobby that offers a creative outlet, improves mental well-being, and provides a way to document memories. It encourages observation, problem-solving, and can be pursued affordably with a smartphone, while also offering the option to learn and invest in more advanced equipment. As a hobby, it is a stress-free activity done for personal enjoyment, separate from the pressures of a professional career.</p>
    </div>
</body>
</html>
