body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

h1,p {
  font-size: 48px;
  color: #333;
  text-align: center;
}
h2{
  font-size: 24px;
}